@import url("https://fonts.googleapis.com/css?family=Poppins:600,700");

$accent: #384cff;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	padding: 40px;
	position: relative;
	height: 100vh;
	width: 100vw;
}

h1 {
	font-size: 2.5em;
	font-weight: 700;

	img {
		width: 1em;
		margin-left: 0.15em;
	}

	.eyes {
		content: "";
		display: inline-block;
		width: 90px;
		height: 60px;
		text-align: center;
		transform: scale(0.8);
		vertical-align: sub;

		.eye-container {
			content: "";
			display: inline-block;
			position: absolute;
			left: 5px;
			top: 50%;
			transform: translate3d(0, -50%, 0);
			transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}

		.eye {
			content: "";
			z-index: 1;
			position: relative;
			display: inline-block;
			overflow: hidden;
			background-color: white;
			width: calc(90px / 2 - 7px);
			height: 60px;
			border-radius: 100%;
			box-shadow: inset 0px 0px 5px 3px #a1a1a1;

			.pupil {
				content: "";
				position: relative;
				background-color: #2a1000;
				width: 14px;
				height: 14px;
				border-radius: 100%;

				&::before {
					content: "";
					z-index: -1;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate3d(-50%, -50%, 0);
					width: 140%;
					height: 140%;
					border-radius: 100%;
					background: linear-gradient(
						140deg,
						rgba(101, 37, 0, 1) 0%,
						rgba(219, 172, 0, 1) 100%
					);
					border: 1px solid rgba(101, 37, 0, 1);
				}

				&::after {
					content: "";
					z-index: 9;
					position: absolute;
					top: 0;
					left: 0;
					width: 5px;
					height: 5px;
					background-color: white;
					border-radius: 100%;
					filter: blur(1px);
				}
			}
		}
	}
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	margin: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 3em;
	row-gap: 0;

	ul {
		list-style: none;

		li {
			a.button {
				opacity: 0; // animation

				display: block;
				color: white;
				background-color: $accent;
				padding: 10px 3em;
				width: 16em;
				text-decoration: none;
				border-radius: 12px;
				text-align: center;

				&.long {
					width: auto;
					white-space: nowrap;
				}
			}

			&:not(:first-of-type) {
				margin-top: 1.3em;
			}
		}
	}

	#medium-articles {
		position: relative;
		min-width: 560px;
		min-height: 64px;
		opacity: 0;

		&::before {
			content: "Medium Articles";
			position: absolute;
			top: -2em;
			left: 1em;
			color: #b0b0b0;
		}
	}
}

.alert {
	&.error {
		position: relative;
		width: 100%;
		text-align: center;
		border-radius: 12px;
		background: #ff5454;
		padding: 10px 0;
		opacity: 0;

		p#try-again {
			border-radius: 12px;
			padding: 5px 30px;
			background-color: white;
			color: #ff5454;
			cursor: pointer;
			margin: 5px auto 0 auto;
			width: fit-content;
		}
	}
}

.fade-in {
	animation: fade-in 700ms cubic-bezier(0, 0.55, 0.45, 1) both;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 960px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 2fr;
		column-gap: 0;
		row-gap: 4em;
	}

	#medium-articles {
		min-width: min-content !important;
	}

	ul li a.button {
		&.long {
			padding: 0.5em 1em;
			white-space: normal !important;
			max-width: 256px;
		}
	}
}
