@font-face {
  font-family: "Remboy";
  src: url("../fonts/Remboy-Regular.woff2") format("woff2"), url("../fonts/Remboy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../fonts/CabinetGrotesk-Medium.woff2") format("woff2"), url("../fonts/CabinetGrotesk-Medium.woff") format("woff");
}

@font-face {
  font-family: "Clash Display";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay-Bold.woff") format("woff");
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: rgba(244, 255, 175, 0.9);
  color: black;
}

::selection {
  background-color: rgba(244, 255, 175, 0.9);
  color: black;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  /* The progress container (grey background) */
  /* The progress bar (scroll indicator) */
}

body .border {
  z-index: 10;
  border: 8px solid #f4ffaf;
  border-bottom: none;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

body .progress-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
}

body .progress-bar {
  height: 8px;
  background: #f4ffaf;
  width: 0%;
  -webkit-transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.squares {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.squares img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.marquee-abs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  height: 100%;
}

.marquee-container {
  z-index: 20;
  position: absolute;
  --offset: -20vw;
  --move-initial: calc(0% + var(--offset));
  --move-final: calc(50% + var(--offset));
  -webkit-transform: rotate3d(0, 0, -1, 90deg);
          transform: rotate3d(0, 0, -1, 90deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.marquee {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee 5s linear infinite;
          animation: marquee 5s linear infinite;
}

.marquee span {
  color: #f4ffaf;
  font-size: 10rem;
  font-family: "Remboy";
  font-weight: normal;
  font-style: normal;
  min-width: 50%;
}

.cards {
  position: absolute;
  left: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4rem;
  height: 100vh;
  color: white;
  padding: 0 6rem 0 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 16rem;
  background-color: rgba(244, 255, 175, 0.04);
  padding: 2rem;
  background-color: rgba(244, 255, 175, 0.04);
  border-radius: 1.3rem;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card p {
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  margin: 1rem 0 1.5rem 0;
  width: 90%;
}

.card h2,
.card a {
  font-family: "Clash Display";
  font-weight: bold;
}

.card a {
  text-decoration: none;
  background-color: #f4ffaf;
  width: 100%;
  color: black;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border: 4px solid transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card a:hover {
  background-color: black;
  color: #f4ffaf;
  border: 4px solid #f4ffaf;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}
/*# sourceMappingURL=style.css.map */